# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'atom-workspace':
  'f5': 'platformio-ide-debugger:continue'
  'shift-f5': 'platformio-ide-debugger:interrupt'
  'f10': 'platformio-ide-debugger:next'
  'f11': 'platformio-ide-debugger:step'
  'shift-f11': 'platformio-ide-debugger:finish'
'atom-text-editor':
  'f9': 'platformio-ide-debugger:toggle-breakpoint'
